{# templates/chaise/show.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Détails de la Chaise</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ chaise.id }}</td>
                </tr>
                <tr>
                    <th>Table</th>
                    <td>{{ chaise.table.nom }}</td>
                </tr>
                <tr>
                    <th>Numéro</th>
                    <td>{{ chaise.numero }}</td>
                </tr>
                <tr>
                    <th>Réservée</th>
                    <td>{{ chaise.reservee ? 'Oui' : 'Non' }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('liste_chaise') }}" class="btn btn-primary">Retour à la liste</a>
        <a href="{{ path('modifier_chaise', {'id': chaise.id}) }}" class="btn btn-warning">Modifier</a>
        <form method="post" action="{{ path('supprimer_chaise', {'id': chaise.id}) }}" style="display: inline-block;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette chaise ?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chaise.id) }}">
            <button class="btn btn-danger">Supprimer</button>
        </form>
    </div>
{% endblock %}