{% extends 'home.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}

	<br><br><br><br>

	<div class="container border rounded-3 p-4" style="width:800px;">
	
		<h1>Votre panier</h1>

		{# ------------message flash----------- #}
		{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
		{% endfor %}

		{# Bouton pour aller à la page du panier #}
		<div class="d-flex justify-content-center align-items-center border rounded-3 p-4 mb-4">
			<a href="{{ path('afficher_categories') }}" class="btn">Liste des Catégories</a>
		</div>
		


		{% set totalGeneral = 0 %}
		
		<div class="row">

				{% for item in contenuPanier %}
				
					{% set produit = item.produit %}
					{% set totalLigne = produit.prix * item.quantite %}

				
					<div class="col-md-6 d-flex justify-content-center mb-3">
						<div class="card " style="width: 18rem;">
						
							<div class="card-header bg-warning fs-5 fw-bold text-center">
								{{ produit.nom }}
							</div>
							
							<div class="card-body">
								
								<p class="d-flex justify-content-center fw-bold">
									{# ----------signe moins ------------ #}
									<a href="{{ path('panier_moins', {'id': produit.id}) }}">
										<i class="fas fa-minus rounded p-2  bg-primary fw-bold text-white"></i>
									</a>
										&nbsp;  {{ item.quantite }} &nbsp;  
									{# ----------signe plus ------------- #}
									<a href="{{ path('panier_plus', {'id': produit.id}) }}">
										<i class="fas fa-plus rounded p-2 bg-primary fw-bold text-white"></i>
									</a>
									&nbsp; x {{ produit.prix | number_format(2, '.', ',') }} € = {{ totalLigne | number_format(2, '.', ',') }} €
								
								</p>				
								
								<div class="d-flex justify-content-center">
									<a href="{{ path('panier_retirer', {'id': produit.id}) }}" class="bulle">
										<i class="fa-solid fa-trash text-danger"></i>
										<span>Supprimer ce Produit</span>
									</a>
								</div>
								
								{% set totalGeneral = totalGeneral + totalLigne %}
								
							</div>
						</div>
					</div>

				{% endfor %}
			
			<div class="border rounded-3 p-3">
				<div class="d-flex justify-content-center fw-bold" id="total-general">
					Montant Total à Payer = {{ totalGeneral | number_format(2, '.', ',') }} €
				</div>
				<div class="d-flex justify-content-center">
					<button id="bouton-payer" class="btn btn">Payer ({{ totalGeneral | number_format(2, '.', ',') }} €)</button>
				</div>
			</div>

		</div>

	</div>

{% endblock %}

{% block javascript %}

	<script src="https://js.stripe.com/v3/"></script>

    <script>

        {# var stripe = Stripe('votre_clé_publique_stripe'); #}
        var stripe = Stripe('pk_test_51KG0R8B70WhTmRhmzSfWznYOhTXWtXNBoJTWVUTsGAJGy3wBc6jVSlZJEsA23iTk0YTfQpzKwW1CK4xw6FAhZ7SN001VujS2RM');

        document.getElementById('bouton-payer').addEventListener('click', function () 
        {
            // fetch('/creer-session-paiement')
			fetch('{{ path('creer_session_paiement') }}')
                .then(function (response) 
                {
                    return response.json();
                })
                .then(function (session) 
                {
                    return stripe.redirectToCheckout({ sessionId: session.id });
                })
                .catch(function (error) 
                {
                    console.error('Erreur:', error);
                });
        });
        
    </script>

{% endblock %}