{% extends 'home.html.twig' %}

{% block title %}Liste Produits{% endblock %}

{% block body %}

    <br><br><br>

    <div class="container border rounded-3 p-4">
    
            <h1 class="text-center mt-5">Liste des Produits</h1>

            {# ------------message flash------------ #}
            {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            {% endfor %}

            {# Bouton pour aller à la page du panier #}
            <div class="text-end mb-3">
                <a href="{{ path('panier_afficher') }}" class="btn">Voir le panier</a>
            </div>

			{% for produit in produits %}
			
				<div class="card rounded-3 mb-3">									
					<div class="card-body p-4">

						<div class="row d-flex justify-content-between align-items-center">

							<div class="col-md-3 col-lg-3 col-xl-3">
								<div class="d-flex align-items-center">
									<span class="bg-warning text-dark ms-2 fw-bold fs-5 p-2 mb-2 rounded-3" style="width:200px;">{{ produit.nom }}</span>
								</div>
							</div>
							
							<div class="col-md-3 col-lg-3 col-xl-3">	
								<div class="d-flex align-items-center">
									<span class="bg-light text-dark  ms-2 fw-bold fs-5 p-2 mb-2 rounded-3"  style="width:500px;">{{ produit.description }}</span>
								</div>
							</div>
							
							<div class="col-md-3 col-lg-3 col-xl-3">	
								<div class="d-flex align-items-center">
									<span class="bg-dark text-white  ms-2 fw-bold fs-5 p-2 mb-2 rounded-3">{{ produit.prix }} €</span>
								</div>
							</div>

							<div class="col-md-2 col-lg-2 col-xl-1 text-end ">
								{# <form action="{{ path('ajouter_au_panier', {'id': produit.id}) }}" method="post">
									<button type="submit" class="btn">Choisir</button>
							   </form>                                            #}

								<a href="{{ path('ajouter_au_panier', {'id': produit.id}) }}" class="bulle">
									<i class="fa-solid fa-shopping-cart text-success"></i>
									<span class="modifier">Ajouter au panier</span>
								</a>
							</div>

						</div>
						
					</div>
				</div>
			
			{% endfor %}

        {# </div>        #}
    </div>

{% endblock %}

