{% extends 'email.html.twig' %}

{% block body %} 

    <h1>Récapitulatifs</h1>

    <p>Merci d'avoir passé votre commande avec nous. Voici les détails de votre commande :</p>

    <h3>Détail de votre Commande :</h3>
    <br>
    <table class="table table-striped  table-bordered text-center mb-3">
        <thead class="bg-secondary text-white">
            <tr>
                <th>Produit</th>
                <th>Prix Unit.</th>
                <th>Quantité</th>
                <th>Montant</th>
            </tr>
        </thead>
        <tbody>
            {% for item in contenuPanier %}
                {% set produit = item.produit %}
                {% set quantite = item.quantite %}
                {% set prix = produit.getPrix %}
                {% set montant = prix * quantite %}
                <tr>
                    <td>{{ produit.getNom }}</td>
                    <td>{{ prix }} €</td>
                    <td>{{ quantite }}</td>
                    <td>{{ montant }} €</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3"><strong>Total Commande</strong></td>
                <td><strong>{{ totalCommande }} €</strong></td>
            </tr>
        </tbody>
    </table>

    <p>Si vous avez des questions concernant votre commande, n'hésitez pas à nous contacter.</p>

{% endblock %}