<!DOCTYPE html>
<html lang="en">

	<head>
	
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>{% block title %}Gerant{% endblock %}</title>

		{% block stylesheets %} {% endblock %}
		
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
		
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Amiri&display=swap">
		
		<link rel="stylesheet" href="{{ asset('css/admin.css') }}">
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
	
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.fr.min.js"></script>
		
		<script src="{{ asset('js/datepicker-fr-custom.js') }}"></script>
		
	</head>
	
	<body>
		
		<header>
			
			<div id="logoAdmin" class="text-center">        
				<a href="{{ path('home') }}">
					{# <img src="{{ asset('logo/logo.jpg') }}" height="90px" width="250px"  alt=""> #}
					<i class="fa-solid fa-utensils text-white"></i>&nbsp; {{ restaurant.nom }} <br>
					<span style="color:black;font-family: 'Abril Fatface';font-size: 25px;">
					{{ restaurant.adresse }} <br>
					{{ restaurant.code }}  {{ restaurant.ville }}</span> <br>
				</a>
			</div>
		</header>

		<div class="container mt-5">

			{# --------------------------------navigation------------------------------------------ #}

			<div id="mySidebar" class="sidebar">
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
				<a href="{{ path('home') }}">Tableau de bord</a>
				<a href="{{ path('admin_profil') }}">Compte Restaurant</a>
				<a href="{{ path('horaires_frequence') }}">Horaires - Frequence</a>
				<a href="{{ path('jours_fermetures') }}">Fermetures</a>
				<a href="">Entrée - Plat - Menu - Dessert</a>
				<a href="">Réserver</a>
				<a href="{{ path('reservations_details') }}">Réservations/Commandes</a>
				<a href="{{ path('details_commandes_emporter', {'date': 'now'|date('d-m-Y')}) }}">Commandes à Emporter</a>
				<a href="">Abonnement</a>
				<a href="{{ path('app_logout') }}">Déconnexion</a>
			</div>
			
			{# ---------------------------------fin navigation------------------------------------------- #}

			<div class="container mt-5">		
			
				<div id="main">

					{# --------------------------debut bouton menu---------------------- #}

					<button class="openbtn" onclick="openNav()">☰ Menu</button>

					{# --------------------------fin bouton menu------------------------ #}

					<div class="row mt-5">

						<div class="col-12">

							<div id="main-content" class="bg-white border">

								<div class="d-flex flex-column">
									<div class="h5">
										<i class="fa-solid fa-utensils text-white"></i>
										&nbsp; {{ restaurant.nom }},
									</div>
								</div>
								
								{# ---------------------------debut body twig ------------------------ #}
								
								{% block body %}{% endblock %}

								{# ------------------------------------fin body twig --------------------------- #}

							</div>
						</div>
					</div>
				</div>
				
			</div>

			
		 
			<footer class="mt-5 mb-5">
				<div class="text-center text-white  fw-bold p-3 fs-5" style="background-color: #32CD32">
					© 2022 Copyright - <i class="fa-solid fa-utensils " style="color:yellow;"></i> &nbsp; {{ restaurant.nom }}
				</div>
			</footer>

			<script src="{{ asset('js/sidebar.js') }}"></script>

			{% block javascripts %}
				<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> 
			{% endblock %}
			
		</div>
		
	</body>
	
</html>