{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

    <title>{% block title %}Modifier Date Specifique{% endblock %}</title>

    <h1>Modifier le Jour Spécifique</h1>

    {# Affichage des messages flash #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Ouverture Matin</th>
                    <th>Fermeture Matin</th>
                    <th>Ouverture Soir</th>
                    <th>Fermeture Soir</th>
                    <th>Status</th>
                    <th>Motif</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ form_widget(form.date) }}</td>
                    <td>{{ form_widget(form.ouvertureMatin) }}</td>
                    <td>{{ form_widget(form.fermetureMatin) }}</td>
                    <td>{{ form_widget(form.ouvertureSoir) }}</td>
                    <td>{{ form_widget(form.fermetureSoir) }}</td>
                    <td>{{ form_widget(form.status) }}</td>
                    <td>{{ form_widget(form.motif) }}</td>
                    <td>
                        <button type="submit" class="btn btn-primary">Modifier</button>
                        {# Bouton de retour à la page des jours spécifiques #}
                        <a href="{{ path('jour_specifique') }}" class="btn btn-success">Retour</a>
                    </td>
                </tr>
            </tbody>
        </table>

    {{ form_end(form) }}

</div>

{% endblock %}