<!DOCTYPE html>
<html lang="en">

	<head>
	
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>{% block title %}Mon Resto{% endblock %}</title>

		{% block stylesheets %} {% endblock %}
		
		{# ----------------- bootstrap --------------------- #}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		
		{# ---------------- fontawesome --------------------- #}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		{# ---------------- google family -------------------- #}
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" >
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" >
		
		{# ----------------- fichier css ----------------------- #}
		<link rel="stylesheet" href="{{ asset('css/home.css') }}">
		
	</head>
	
	<body>
		
		<nav class="navbar navbar-expand-lg fixed-top">
			<div class="container-fluid">
			
				<div id="logo">
					<a class="navbar-brand" href="{{ path('home') }}">
						{# <img src="{{ asset('logo/logo.jpg') }}" height="90px" width="250px" alt=""> #}
						{{ restaurant.nom }}
					</a>
				</div>
					
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="fw-bold text-white rounded">Menu</span> 
					<!--<span class="navbar-toggler-icon text-white"></span> -->
				</button>
				
				<div class="d-flex justify-content-end">
				   <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
						<div class="navbar-nav ">
							<a class="nav-link" href="{{ path('reserver') }}"><span>Reserver</span> et Commander</a>
							<a class="nav-link" href="{{ path('commande_emporter') }}"><span>Commandes</span> à Emporter</a>

							{# ----------------connexion selon les roles ------------------------ #}
							{% if is_granted('ROLE_ADMIN') %}
								<a class="nav-link" href="{{ path('admin_profil') }}"><span>Tableau de</span> Bord</a>
							{% elseif is_granted('ROLE_USER') %}
								<a class="nav-link" href="{{ path('mon_profil') }}"><span>Mon</span> Compte</a>
							{% else %}
								<a class="nav-link" href="{{ path('app_login') }}"><span>Espace</span> Connexion</a>
							{% endif %}
							{# <a class="nav-link" href="{{ path('app_login') }}"><span>Espace</span> Connexion</a> #}

							<a class="nav-link" href="{{ path('contact') }}"><span>Nous</span>  Contacter</a>
						</div>
					</div> 
				</div>
				
			</div>
		</nav>
		
		<br><br>
		
		{% block body %}{% endblock %}
			 
		{% block javascripts %}
		 
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		 
		{% endblock %}
	
		{% include 'home/footer.html.twig'  %}
	
		
	</body>
	
</html>